.loading-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.card {
  cursor: pointer;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

.card-image {
  max-width: 100%;
  max-height: 200px;
  min-height: 200px;
  object-fit: cover;
}

.card-content {
  flex-grow: 1;
  overflow: hidden;
}

.mat-grid-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
