<div class="header">
  <nav class="nav-container">
    <ul class="nav-list">
      <ng-container *ngIf="isAuthorized">
        <li>
          <a
            routerLink="/dashboard/assesments"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link"
            >Assesments</a
          >
        </li>
      </ng-container>
      <ng-container *ngIf="isAuthorized && isAdmin">
        <li>
          <a
            routerLink="/dashboard/users"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link"
            >Users</a
          >
        </li>
      </ng-container>
    </ul>
    <div class="logout-button-container" *ngIf="isAuthorized">
      <button mat-raised-button (click)="logout()">Logout</button>
    </div>
  </nav>
</div>
